@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.warehouse-details {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0 ;

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__back {
        height: 1.5rem;
        padding-right: .5rem;
    }

    &__name {
        margin: 0;
        color: $primary-text;
    }

    &__edit-mobile {
        width: 2.25rem;

        @include tablet {
            display: none;
        }
    }

    &__edit-tablet-desktop {
        display: none;

        @include tablet {
            display: inline-block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__details {
        border-top: 1px solid $secondary-outline;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__label {
        text-transform: uppercase;
        margin: 0.25rem 0 0.25rem 0;
        color: $secondary-table-header;
    }

    &__info {
        margin: 0;
    }

    &__address-container {
        padding: 1rem 1.5rem 0 1.5rem;

        @include tablet {
            padding: 0 7rem 0 0;
            margin: 1.5rem 1.5rem 1rem 1.5rem;
            width: 35%;
        }
    }

    &__contact-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 2.5rem 1.5rem 1rem 1.5rem;

        @include tablet {
            padding: 0 0 0 2.5rem;
            margin: 1.5rem 1.5rem 1rem 0;
            justify-content: space-between;
            width: 48%;
            border-left: 1px solid $secondary-outline;
        }
    }


}