$primary-text: #13182c;
$primary-element: #2e66e5;
$primary-global: #ffffff;

$secondary-table-header: #5c667e;
$secondary-placeholder-text: #5c667e;
$secondary-outline: #bdc5d5;

$background-nav-header: #232940;
$background-cta-hover: #232940;
$background-page: #f7f8f9;
$background-table-header: #f7f8f9;
$background-cta: #f7f8f9;

$support-stock-label: #158463;
$support-no-stock-label: #c94515;

