@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.add-warehouse {
    margin: -3.5rem 0.8rem 1rem;
    box-shadow: 0px 2px 3px $secondary-outline;
    background-color: $primary-global;
    border-radius: 3px;

    @include tablet {
        margin: -6.5rem 2rem 1rem;
    }

    &__title-container {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        padding: 0.7rem 1rem 0;

        @include tablet {
            padding: 0.7rem 2rem 0;
            border-bottom: 1px solid $secondary-outline;
        }
    }

    &__icon {
        width: 1.25rem;
        vertical-align: bottom;

        @include tablet {
            width: 1.5rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__input-container {
        border-top: 1px solid $secondary-outline;
        padding: 0 1.25rem 0.75rem;

        @include tablet {
            padding: 0 2rem 0.5rem;
            margin: 1.5rem 0 1.5rem;
            border-top: none;
        }

        &--with-divider {
            @include tablet {
                border-left: 1px solid $secondary-outline;
            }
        }
    }

    &__label {
        font-weight: 600;
        font-size: 0.7rem;
        display: block;
        padding-top: 0.5rem;

        @include tablet {
            font-size: 0.9rem;
            padding-top: 1.5rem;
        }
    }

    &__input {
        width: 100%;
        font-family: "TitilliumWeb", sans-serif;
        font-size: 0.7rem;
        padding: 0.35rem 0.8rem;
        border: 1px solid $secondary-outline;
        border-radius: 20px;
        margin: 0.15rem 0;

        @include tablet {
            font-size: 0.9rem;
            padding: 0.5rem 1rem;
            margin: 0.25rem 0;
        }
    }
}