@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.cta {
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 20px;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    @include link-reset;
    @include tablet {
        height: 2.375rem;
        padding: 0 1rem;
        width: fit-content;
    }

    &:hover {
        background-color: $background-cta-hover;
    }

    &.primary {
        background-color: $primary-element;
        &:hover {
            background-color: $background-cta-hover;
        }
    }

    &.secondary {
        background-color: $primary-global;
        border: 0.5px solid $secondary-outline;
        &:hover {
            border: 0.5px solid $primary-element;
            
        }
    }

    &.delete {
        background-color: $support-no-stock-label;
        &:hover {
            background-color: $background-cta-hover;
        }
        
    }
    
    &__icon {
        margin-right: .25rem;
        filter: brightness(0%)invert(100%);
        width: 20px;
    }

    &__text {
        color: $primary-global;
        margin: 0;

        &--special {
            color: $secondary-placeholder-text;

            &:hover {
                color: $primary-element;
            }
        }
    }
}