@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;





.inventory {
    &__list {
        display: flex;
        justify-content: space-between;
    }
}

.inventory-list{
    &-main {
        border-top: 1px solid $secondary-outline;
        padding: .375rem 1.5rem 1rem;

    }

    &-qty {
        padding-top: .2188rem;
    }

    &__container {
        &-left {
            width: 45%;
        }

        &-right {
            width: 45%;
        }
    }


    &__label {
        color: $secondary-table-header;
        margin-bottom: 0;
        margin-top: .7813rem;

        &-container {
            display: flex;
        }

        &-item {
            font-weight: bold;
            font-size: .8125rem;
            color: $primary-element;
            margin-top: .0938rem;
            margin-bottom: 6px;
        }
        &-category {
            margin-top: .1875rem;
        }

        &-icon {
            padding-bottom: .3125rem;
        }

        &-qty {
            margin-top: .375rem;
        }

        &-warehouse {
            margin-top: .375rem;
        }
    }
}

.inventory__item{
    &-greenstatus{
        display: inline;
        text-transform: uppercase;
        color: $support-stock-label;
        font-weight: bold;
        font-size: .6875rem;
        background: rgba(0, 158463, 0, .07);
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 1.25rem;
    }

    &-redstatus {
        display: inline;
        text-transform: uppercase;
        color: $support-no-stock-label;
        font-weight: bold;
        font-size: .6875rem;
        background: rgba(94515, 0, 0, .07);
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 1.25rem;
    }
}



// .inventory-list {
//             display: flex;
//         justify-content: space-between;
//         margin-right: 4.125rem
// }