@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;





.inventory {
    &__list {
            flex-wrap: wrap;
            display: flex;
        @include tablet{
            width: 66.7%
        }
    }
}
.inventory-list{
    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__deleteicon{
        position: relative;
        top: 4px;
        @include tablet{
            margin-left: 1.125rem;
            top: 2px;
        }
    }

    &__action-label {
        display: none;
        @include tablet{
            display: initial;
        }
    }

    &__content {
        &-warehouse{
            width: 50%;
            @include tablet {
                width: 100%
            }
        }
    }

    &-main {
        border-top: 1px solid $secondary-outline;
        padding: .375rem 1rem 1rem;
            @include tablet {
                display: flex;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                @include desktop{
                    padding-left: 2.3125rem;
                    padding-bottom: 0;
                }
            }
    }


    &__container {
        width: 50%;
        @include tablet {
            width: 25%;
            &:nth-child(1){
                order:1;
            }
            &:nth-child(2){
                order:3;
            }
            &:nth-child(3){
                order:2;
            }
            &:nth-child(4){
                order:4;
            }
        }

        &-warehouse {
            display: flex;
            justify-content: flex-end;

            @include tablet{
                min-width: 70px;
            }
            
            @include desktop {
                min-width: 70px;
            }

        }
    }


    &__label {
        color: $secondary-table-header;
        margin-bottom: 0;
        margin-top: .7813rem;
        @include tablet {
            display: none;
        }

        &-container {
            display: flex;
        }

        &-item {
            font-weight: bold;
            font-size: .8125rem;
            color: $primary-element;
            margin-top: .0938rem;
            margin-bottom: 6px;
        }
        &-category {
            margin-top: .1875rem;
            @include tablet {
                padding-left: 2.375rem;
            }
            @include desktop {
                padding-left: 2.375rem;
            }
        }

        &-icon {
            padding-bottom: .3125rem;
            display: flex;
            justify-content: space-between;
            @include tablet {
                flex-direction: column;
                margin-left: 4.375rem;
            }
            @include desktop {
                margin-left: 7.1875rem;
            }
        }

        &-qty {
            margin-top: .375rem;
            @include tablet {
                margin-left: 1.875rem
            }
        }

        &-warehouse {
            margin-top: .375rem;
        }
    }
}

.inventory__item{
    &-greenstatus{
        display: inline;
        text-transform: uppercase;
        color: $support-stock-label;
        font-weight: bold;
        font-size: .6875rem;
        background: rgba(0, 158463, 0, .07);
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 1.25rem;
        @include tablet{
            margin-left: 2.25rem;
        }
        @include desktop{
            margin-left: 2.1875rem;
        }
    }

    &-redstatus {
        display: inline;
        text-transform: uppercase;
        color: $support-no-stock-label;
        font-weight: bold;
        font-size: .6875rem;
        background: rgba(94515, 0, 0, .07);
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 1.25rem;
        @include tablet {
            margin-left: 1.5rem;
        }
        @include desktop {
            margin-left: 2.25rem;
        }
    }
}


