@use "./styles/partials/fonts" as *;
@use "./styles/partials/colors" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f8f9;
    font-family: "TitilliumWeb", sans-serif;
    color: $primary-text;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}