@use "./styles/partials/fonts" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/colors" as *;


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f8f9;
    font-family: "TitilliumWeb", sans-serif;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h3 {
    font-size: .8125rem;
    line-height: 1.25rem;
    font-weight: 600;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

h4 {
    font-size: .6875rem;
    line-height: 1rem;
    @include tablet {
        font-size: .75rem;
        line-height: 1.125rem;
    }
}


p {
    font-size: .8125rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}